<h3>Welcome <%= @player_name %>!</h3>

Please choose between rock paper or scissors:
<br>
<br>
<br>
<form action="/choice" method="post">
  <label for="player_choice">
    Please type rock, paper or scissors:
    <input type="text" name="player_choice">
  </label>
  <input type="submit" value="Submit">
<form/>
